body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,td,tr {
	/* 默认有边距，都要清除 */
	margin: 0;
	padding: 0;
	/*字体设置*/
	font-size: 14px;
	font-family: "Microsoft Yahei", sans-serif;
	/* 去掉列表的原点 */
	list-style: none;
	/* 默认鼠标 */
	cursor: default;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin border-radius5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
@mixin border-radius10{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

table {
	/*边框合并*/
	border-collapse: collapse;
	border-spacing: 0;
}

#main {
	width: 800px;
	margin: 20px auto;
}

/* table样式 */
#main-table {
	margin-top: 40px;
	table {
		width: 800px;
		font-size: 14px;
		border-collapse: collapse;
		padding-top: 5px;
		margin-bottom: 20px;
		tr,td,th {
			width: 300px;
			height: 20px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 3px 0;
			border: 1px solid #000;
		}
		thead tr {
			text-align: center;
			font-size: 18px;
		}
		tbody tr {
			font-size: 14px;
			width: 150px;
			height: 20px;
			padding-left: 15px;
			td {
				width: 150px;
				height: 20px;
				text-align: left;
				padding-left: 15px;
				word-break: break-all;
			}
		}
	}
}

/* 柱状图样式 */
#main-container {
	position: relative;
	display: inline-block;
	margin: 20px 0;
	.main-set {
		display: none;
		height: 400px;
		text-align: center;
		background-color: #cccccc;
		border: 2px solid #000;
		position: absolute;
		right: -55%;
		.title{
			font-size: 16px;
			font-weight: bold;
			margin-top: 3%;
			height: 20px;
			line-height: 14px;
			letter-spacing: 4px;
			.close{
				position: absolute;
				right: 5%;
				z-index: 9;
			}
		}
		/* 调色面板 */
		#color-div {
			display: inline-block;
		}
		// 设置线条线型
		#dialog-type,#dialog-width {
			width: 220px;
			font-size: 16px;
			font-weight: bold;
			word-spacing: 5px;
			z-index: 99;
			// 线条线型
			#change-dialog-type{
				width: 129px;
				height: 25px;
			}
			// 线条宽度
			#change-dialog-width{
				width: 125px;
				height: 30px;
				margin: 10px 0;
				@include border-radius5;
				border: 1px solid #8c9bcf;
				// 输入框左边有点距离
				text-indent: 5px;
			}
		}
		// 线条宽度
		#icon-line{
			width: 220px;
			font-size: 16px;
			font-weight: bold;
			#icon{
				width: 205px;
			}
		}
	}
	// 折线图
	#main-bar {
		width: 500px;
		height: 400px;
		@include border-radius10;
		border: 3px solid red;
		padding: 0 5px;
		-webkit-box-shadow: 4px 3px 1px #888888;
		box-shadow: 4px 3px 1px #888888;
	}
}
/* 新增线型图标 */
.icon-line-dashed{
	background:url('../images/dashed_small.png') no-repeat center center;
}
.icon-line-dotted{
	background:url('../images/dotted_small.png') no-repeat center center;
}
.icon-line-solid{
	background:url('../images/solid_small.png') no-repeat center center;
}
